.hero-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  color: var(--white);
  margin-bottom: 30px;
}

.hero-content-container .top-text {
  margin: 0;
  font-size: 19px;
  letter-spacing: 3px;
  font-family: "barlow Condensed";
  color: var(--light-blue);
}

.hero-content-container .middle-text {
  font-family: "Bellefair Regular";
  font-size: 80px;
  letter-spacing: 0;
  font-weight: 300;
  margin: 0;
}

.hero-content-container .last-paragraph {
  margin: 0;
  font-family: "Barlow", sans-serif;
  line-height: 180%;
  letter-spacing: 0;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}
.explore-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 384px;
  /* width: 384px; */
  border-radius: 50%;
  overflow: hidden;
}

.explore-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(180, 175, 175);
  opacity: 0;
  transition: opacity 0.3s ease-in;

}

.explore-btn.mouse-enter::before {
  opacity: 0.2;
}

.explore {
  background-color: var(--white);
  border-radius: 50%;
  width: 144px;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s ease;
}

.explore-text {
  font-family: "Bellefair Regular";
  font-size: 18px;
}

@media screen and (min-width:748px){
  .hero-container{
    padding: 128px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    overflow-y: hidden;
  }

  .sub-container{
    padding: 0;
  }
  
  .hero-content-container .top-text {
    font-size: 16px;
    letter-spacing: 15%;
  }

  .hero-content-container{
    justify-content: center;
    max-width: 540px;
  }
  
.hero-content-container .middle-text {
  font-size: 144px;
}

.explore-btn{
  width: auto;
  height: auto;
}

.explore {
 width: 272px;
 height: 272px;
}

/* .explore-btn:hover{
  width: 512px;
  height: 512px;

} */

.explore-text{
  font-size: 32px;
}

}